#results{
  display: none;
}
body{
  background-image: url(https://cdn.tasteatlas.com/images/dishes/785295d4ab6f4f0bab43d5fcf2e123b6.jpg?mw=1300);
  font-size: large;
  color: honeydew;
  font-weight: bold;
}
.text-center{
  color: antiquewhite;
  font-family: cursive;

}
.form-check{
  color: orange;
}