#results{
  display: none;
}
body{
  background-image: url(https://cdn.tasteatlas.com/images/dishes/785295d4ab6f4f0bab43d5fcf2e123b6.jpg?mw=1300);
  font-size: large;
  color: honeydew;
  font-weight: bold;
}
.text-center{
  background-image: linear-gradient(to left, red, white, rgb(5, 238, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
  font-size: 700%;
}
.btn{
 font-weight: bold;
 font-size: large;
 background-image: linear-gradient(to left, red, white, rgb(5, 238, 5));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
